<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EFCodeFirst" connectionString="data source=.;initial catalog=YRDFDB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>