<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- ================== 1：系统软件参数配置 ================== -->
	<!-- 联系我们 -->
	<add key="Contact" value="www.yanqingshan.com" />
	<!-- 公司名称 -->
	<add key="CustomerCompanyName" value="QingShanKing" />
	<!-- 系统名称 -->
	<add key="SystemName" value="YRDF框架" />
	<!-- 软件名称 -->
	<add key="SoftName" value="YRDF" />
	<!-- 软件版本 -->
	<add key="Version" value="0.0.1" />
	<!-- 软件注册码，备用 -->
	<add key="RegisterKey" value="NO:20200424195733" />
  
	<!-- ================== 2：外部邮件参数 ================== -->
	<!-- 系统错误自动发送邮件 -->
	<add key="ErrorToMail" value="false" />
	<!-- 发出邮箱的名称 -->
	<add key="MailName" value="技术支持" />
	<!-- 发出邮箱的地址 -->
	<add key="MailUserName" value="support@yanqingshan.com" />
	<!-- 发出邮箱的密码 -->
	<add key="MailPassword" value="******" />
	<!-- 发出邮箱设置邮箱主机 -->
	<add key="MailHost" value="smtp.exmail.qq.com" />
  
  <!-- ================== 3：其他系统参数 ================== -->
	<add key="webpages:Version" value="3.0.0.0"/>
	<add key="webpages:Enabled" value="false"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>